.vs/AnguilarTutorialAPI/FileContentIndex/4d8a02c8-0802-491d-b98b-14a7276275a1.vsidx
.vs/AnguilarTutorialAPI/FileContentIndex/2256be7b-563d-4a67-a84f-a2833aa63de6.vsidx
.vs/AnguilarTutorialAPI/FileContentIndex/2697f82c-41ef-4dcb-9878-a1c0ec778885.vsidx
.vs/AnguilarTutorialAPI/FileContentIndex/8437c1de-2f6d-4543-a7da-b1c09d1f7e76.vsidx
AnguilarTutorialAPI/obj/Debug/net6.0/AnguilarTutorialAPI.GeneratedMSBuildEditorConfig.editorconfig
AnguilarTutorialAPI/obj/Debug/net6.0/AnguilarTutorialAPI.assets.cache
